.color-cat {
    color: white;
}

.main-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 8000px;
    margin: 0 auto;
    font-family: system-ui; 
}